<h2>
  Thank you for signing up for BasicAuthApp. Please click the following link to verify your email address:
</h2>
<p>
  <%= link_to 'Verify!!', @verification_url %>
  If the URL does not work, try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us.
</p>