<div class="col-sm-3 center-block text-center">
  <h4>Profile information</h4>
  <table class="table table-hover">
    <tr>
      <th>Username</th>
      <td><%= best_in_place @user, :username, as: :input, class: 'hvr-underline-from-center'%></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= best_in_place @user, :email, as: :input, class: 'hvr-underline-from-center'%></td>
    </tr>
    <tr>
      <th>Full name</th>
      <td><%= best_in_place_if @user.full_name, @user, :full_name, as: :input, class: 'hvr-underline-from-center'%></td>
    </tr>
  </table>

  <%= link_to 'Change password', edit_user_path(@user), class: 'btn btn-warning btn-sm pull-left' %>
</div>


